.list-contain {
  display: grid;
  padding: 10px;
  grid-gap: 40px;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, 390px);
  .classroom-item {
    background-color: #78909C;
    color: #843534;
    min-height: 230px;
    &.all-classrooms{
      background-color: sandybrown;
    }
    &.one-sector{
      background-color: cadetblue;
    }
    &.one-department{
      background-color: seagreen;
    }
    h5 {
      font-weight: bold;
      font-size: large;
    }
    div{
      .classroom-mini-info{
        color: #333;
      }
    }

    &:hover{
      border: 4px dashed;
    }
  }
}

.header-search{

  i{
    position: absolute;
    right: 25px;
    top: 10px;
  }
}

.no-result-found
{
  width: 100%;
  height: 100%;
}
