<div class="content-wrapper">

  <app-page-header-row [pageTitle]="pageTitle" [breadcumbs]="breadcumbs"></app-page-header-row>

  <div class="content-body">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="card">
          <div class="card-body collapse in" *ngIf="hasLoadedDatas">
            <div class="card-block" *ngIf="canUploadFile && !hasFoundBadsDatas">
              <h5 class="center mb-2">{{'FILESINPUT.FILEIMPORT.STATUS' | translate}} : &nbsp;<mark>{{(hasAlreadyUploadedData ? 'FILESINPUT.FILEIMPORT.IMPORTED' : 'FILESINPUT.FILEIMPORT.UNIMPORTED') | translate}}</mark></h5>
              <div class="center flex-column" *ngIf="canShowImportedStatus">
                <img src="assets/images/saved-data.jpg"/>
                <div class="mt-2">
                  <button class="btn btn-outline-amber mr-2" (click)="onConsult()">{{'SUBMITS.CONSULT' | translate}}</button>
                  <button class="btn btn-outline-danger" (click)="onComplement()">{{'SUBMITS.COMPLEMENT' | translate}}</button>
                </div>
              </div>

              <app-file-import *ngIf="canShowFileImport" (onExtract)="readFileContent($event)" [isImporting]="isImporting"></app-file-import>

              <div *ngIf="canShowDataList">
                <i (click)="onCancelConsult()" class="fa fa-close text-danger cursor-pointer"></i>
                <div class="table-responsive">
                  <table class="table table-bordered mb-0">
                    <thead>
                    <tr>
                      <th>N°</th>
                      <th>{{'FILESINPUT.CLASSROOMS.CODE' | translate}}</th>
                      <th>{{'FILESINPUT.CLASSROOMS.ENTITLED' | translate}}</th>
                      <th>{{'FILESINPUT.CLASSROOMS.SECTOR' | translate}}</th>
                      <th>{{'FILESINPUT.CLASSROOMS.LEVEL' | translate}}</th>
                      <th>{{'FILESINPUT.CLASSROOMS.STUDENTSNUMBER' | translate}}</th>
                      <th>{{'GLOBAL.EDIT' | translate}}</th>
                      <th>{{'GLOBAL.DELETE' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let classroom of classrooms; index as i">
                      <td>{{(i+1)}}</td>
                      <td>{{classroom.code}}</td>
                      <td>{{entitled(classroom)}}</td>
                      <td>{{sector(classroom.filiereId)}}</td>
                      <td>{{level(classroom.niveauId)}}</td>
                      <td>{{studentsNumber(classroom.id)}}</td>
                      <td><i (click)="onEditClassroom(classroom)" class="fa fa-edit text-primary cursor-pointer"></i></td>
                      <td><i class="fa fa-close text-danger cursor-pointer"></i></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="required-file-importation center flex-column" *ngIf="!canUploadFile">
              <img width="250px" height="250px" src="assets/images/required.jpg"/>
              <h6 class="text-italic mt-2">{{'LOADINGERROR.FILEIMPORTATION' | translate}}</h6>
            </div>

            <div class="card-block" *ngIf="hasFoundBadsDatas">
              <h5 class="center mb-2">{{'FILESINPUT.FILEIMPORT.INCOHERENTDATASLIST' | translate}}</h5>

              <div class="table-responsive">
                <table class="table table-bordered mb-0">
                  <thead>
                  <tr>
                    <th>{{'FILESINPUT.CLASSROOMS.CODE' | translate}}</th>
                    <th>{{'FILESINPUT.CLASSROOMS.ENTITLED' | translate}}</th>
                    <th>{{'FILESINPUT.CLASSROOMS.ENGLISHENTITLED' | translate}}</th>
                    <th>{{'FILESINPUT.CLASSROOMS.SECTOR' | translate}}</th>
                    <th>{{'FILESINPUT.CLASSROOMS.LEVEL' | translate}}</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let classroom of badsClassrooms">
                    <td class="width-200">{{classroom.code}}</td>
                    <td class="width-200">{{classroom.intitule}}</td>
                    <td class="width-200">{{classroom.intitule_en}}</td>
                    <td class="width-200" *ngIf="classroom.filiereId === null">
                      <select [(ngModel)]="classroom.filiere" class="select2-theme form-control" >
                        <optgroup [label]="'FILESINPUT.CLASSROOMS.DEFAULTVALUE' | translate">
                          <option [value]="classroom.defaultFiliere">{{classroom.defaultFiliere}}</option>
                        </optgroup>
                        <optgroup [label]="'FILESINPUT.CLASSROOMS.POSSIBLEVALUES' | translate">
                          <option *ngFor="let sector of sectors" [value]="sector.code">{{sector.code}}</option>
                        </optgroup>
                      </select>
                    </td>
                    <td class="width-200" *ngIf="classroom.filiereId !== null">{{classroom.filiere}}</td>
                    <td class="width-200" *ngIf="classroom.niveauId === null">
                      <select [(ngModel)]="classroom.niveau" class="select2-theme form-control" >
                        <optgroup label="Valeur par défaut">
                          <option [value]="classroom.defaultNiveau">{{classroom.defaultNiveau}}</option>
                        </optgroup>
                        <optgroup label="Valeurs possibles">
                          <option *ngFor="let level of levels" [value]="level.code">{{level.code}}</option>
                        </optgroup>
                      </select>
                    </td>
                    <td class="width-200" *ngIf="classroom.niveauId !== null">{{classroom.niveau}}</td>
                  </tr>
                  </tbody>
                </table>

                <div class="mt-2 center">
                  <button (click)="continueReading()" class="btn btn-primary">{{'FILESINPUT.FILEIMPORT.CONTINUE' | translate}}</button>
                </div>
              </div>
            </div>
          </div>

          <div class="page-loader" *ngIf="hasLoadedDatas === null">
            <i class="fa fa-refresh fa-pulse text-primary"></i>
          </div>
          <div class="loading-error mb-5" *ngIf="hasLoadedDatas === false">
            <img src="assets/images/loading-error2.png"/>
            <h6 class="text-italic mt-2">{{'LOADINGERROR.BACKEND' | translate}}</h6>
            <button class="btn btn-primary" (click)="loadDatas()">{{'SUBMITS.RETRY' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-modal-classroom-edition></app-modal-classroom-edition>

