<div class="content-wrapper">

  <app-page-header-row [pageTitle]="pageTitle" [breadcumbs]="breadcumbs"></app-page-header-row>

  <div class="content-body">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="card">
          <a class="fullscreen-icon" data-action="expand"><i class="ft-maximize"></i></a>
          <div class="card-body collapse in" *ngIf="hasLoadedDatasWithSuccess && canDisplay2">
            <app-classrooms-list [isForPlanning]="true" (onSelectGlobalPlanning)="onSelectAAllClassrooms()" (onSelectDepartmentPlanning)="onSelectDepartmentClassrooms($event)" (onSelectSectorPlanning)="onSelectSectorClassrooms($event)" (onSelectClassroom)="onSelectClassroom($event)" [list]="classrooms" *ngIf="canShowClassroomsList" [load]="false"></app-classrooms-list>
            <app-tutorials-time-table [readOnly]="false" [classroom]="selectedClassroomCode" *ngIf="canShowTimeTable"></app-tutorials-time-table>
            <app-multi-tutorials-time-table *ngIf="canShowMultiTimeTables" [filter]="{actionZone: currentActionZone, itemId: currentActionZoneId}"></app-multi-tutorials-time-table>
            <div class="not-configured-time center flex-column" *ngIf="canShowTimeTypeWarning">
              <img width="200px" height="200px" src="assets/images/not-configured.png"/>
              <h6 class="text-italic mt-2">{{'LOADINGERROR.TIMETYPE' | translate}} {{currentClassroomSector}}</h6>
              <button class="btn btn-primary" (click)="goToSectorConfigurationTime()">{{'SUBMITS.CONFIGURE' | translate}}</button>
            </div>
          </div>
          <div class="required-file-importation center flex-column" *ngIf="canDisplay && !hasAlreadyGenerateCoursesPlanning">
            <img width="250px" height="250px" src="assets/images/required.jpg"/>
            <h6 class="text-italic mt-2">{{'LOADINGERROR.COURSESPLANNING' | translate}}</h6>
          </div>
          <div class="required-file-importation center flex-column" *ngIf="hasLoadedDatasWithSuccess && !canDisplay">
            <img width="250px" height="250px" src="assets/images/required.jpg"/>
            <h6 class="text-italic mt-2">{{'LOADINGERROR.FILEIMPORTATION' | translate}}</h6>
          </div>
          <div class="page-loader" *ngIf="isLoading">
            <i class="fa fa-refresh fa-pulse text-primary"></i>
          </div>
          <div class="loading-error mb-5" *ngIf="hasLoadedDatasWithError">
            <img src="assets/images/loading-error.png"/>
            <h6 class="text-italic mt-2">{{'LOADINGERROR.BACKEND' | translate}}</h6>
            <button class="btn btn-primary" (click)="retry()">{{'SUBMITS.RETRY' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-courses-planning-generation></app-modal-courses-planning-generation>

