
<div *ngFor="let classroom of classrooms">
  <h6 class="card-subtitle line-on-side text-muted text-xs-center font-small-3 pt-2 mb-2">
    <span>{{classroom.code}}</span>
  </h6>
  <app-tutorials-time-table [classroom]="classroom.code" [showSaveButton]="false" [readOnly]="false"></app-tutorials-time-table>
  <h6 class="card-subtitle line-on-side text-muted text-xs-center font-small-3 pt-2 mt-2 mb-2">
    <button class="btn btn-primary" (click)="onSelectClassroom(classroom)">Modifier</button>
  </h6>
</div>

<div class="flat-buttons-block text-white" title="Exporter">
  <div *ngIf="showDownloadsButtons" class="bg-gradient-directional-info flat-button" title="Exporter le planning des enseignants">
    <i class="fa fa-users"></i>
  </div>
  <div *ngIf="showDownloadsButtons" class="bg-gradient-directional-info flat-button" title="Exporter le planning des salles">
    <i class="fa fa-house"></i>
  </div>
  <div *ngIf="showDownloadsButtons" class="bg-warning flat-button" title="Exporter tout le planning">
    <i class="fa fa-database"></i>
  </div>
  <div *ngIf="showDownloadsButtons" (click)="desactivateDownloadButtons()" class="bg-danger flat-button">
    <i class="fa fa-close"></i>
  </div>
  <div *ngIf="!showDownloadsButtons" (click)="activateDownloadButtons()" class="bg-success flat-button">
    <i class="fa fa-download"></i>
  </div>
  <div class="flat-button bg-primary">
    <i *ngIf="isExporting" class="fa fa-file-pdf-o"></i>
    <i *ngIf="!isExporting" class="fa fa-save"></i>
  </div>
</div>
