<div class="content-wrapper">

  <app-page-header-row [pageTitle]="pageTitle" [breadcumbs]="breadcumbs"></app-page-header-row>

  <div class="content-body">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="card">
          <div class="card-body collapse in">
            <app-sectors-list [preferredSector]="preferedSector" (onSelectSector)="onSelectSector($event)"></app-sectors-list>
            <app-modal-sectior-time-selection (OnApplyModification)="onModifySector()"></app-modal-sectior-time-selection>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

