.image-content
{
  img
  {
    width: 50%;
    height: 50%;
  }
}

.image-content, .text-content
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-content
{
  font-size: 1.2em;
  font-weight: bold;
}

.file-type-item
{
  cursor: pointer;
  margin-bottom: 30px;
}
